:root {
  --ktp-background: #e0e0e0;
  --ktp-background-secondary: #f8f8f8;
  --ktp-color: #4682b4;
  --ktp-color-secondary: #101010;
  --ktp-border: #777676;
  --ktp-shadow: #777777;
}

body {
  background-color: var(--ktp-background);
  color: var(--ktp-color);
  font-family: sans-serif;

  height: 100%;
  width: 100%;
  margin: unset;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  all: unset;

  color: var(--ktp-border);

  border: none;
  border-bottom: 1px solid var(--ktp-border);

  outline: none;

  cursor: text;
}

button {
  border: none;
  background-color: var(--ktp-color);
  color: var(--ktp-background-secondary);
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.4s;
}

button:focus {
  background-color: var(--ktp-background-secondary);
  color: var(--ktp-color);
  padding: -1px;
  border: 1px solid var(--ktp-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--ktp-background-secondary);
  color: var(--ktp-color);
  padding: -1px;
  border: 1px solid var(--ktp-color);
  cursor: pointer;
}

.create-book-modal-overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.create-book-modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  width: 60%;
  max-width: 380px;
  top: 10%;
  bottom: 20%;
  border: 0.5px solid var(--ktp-border);
  border-radius: 4px;
  box-shadow: 1px 2px 2px var(--ktp-shadow);
  background: var(--ktp-background-secondary);
  outline: none;
  padding: 5px 20px 20px;
}

.close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  margin: 10px 20px;

  color: var(--ktp-border);
  cursor: pointer;
}

.close-button:focus {
  cursor: pointer;
  color: var(--ktp-border);
  width: fit-content;
}

.close-button:hover {
  cursor: pointer;
  color: var(--ktp-border);
  width: fit-content;
}

.create-book-modal-content form {
  display: inline-flex;
  flex-direction: column;
}

.create-book-modal-content label {
  display: inline-flex;
  flex-direction: column;
  margin-top: 15px;
}

.create-book-modal-content input {
  display: inline-flex;
  flex-direction: column;
  margin-top: 7px;
  padding: 6px;
  border: none;
  border-bottom: 1px solid var(--ktp-border);
  background-color: var(--ktp-background-secondary);
}

.submit-button {
  display: inline-block;
  margin: 40px 5% 0 5%;
  width: 90%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top-container h1 {
  margin: 7px;
  font-size: 30px;
  color: var(--ktp-color-secondary);
}

.create-book-button {
  margin: 7px;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin-left: 15px;
}

.search-container {
  width: 300px;
  height: 32px;

  margin: 15px 0;
}

.search-container input {
  height: 30px;
  width: 100%;

  padding-left: 20px;
  margin-top: -10px;
  margin-bottom: 7px;
  margin-left: 15px;
}

.books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 95%;
}

.book-card {
  display: flex;
  flex-direction: column;

  width: 450px;
  height: 200px;
  margin: 15px;
  padding: 3px;

  background-color: var(--ktp-background-secondary);

  box-shadow: 2px 4px 5px var(--ktp-shadow);
  border-radius: 5px;
  border-left: 5px solid orange;
}

.book-card h2 {
  margin-left: 5px;
}

.book-card ul {
  all: unset;
  list-style-type: none;
}

.book-card li {
  margin: 5px;
}

/* animated spinner source - https://loading.io/css/*/
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 200px;
  height: 200px;
}
.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--ktp-color);
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--ktp-color) transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
